@import "tailwindcss";
@plugin '@tailwindcss/typography';
:root {
    background-repeat: no-repeat;
}
h1 {
    font-size: 3rem;
    font-family: "Akira Expanded";
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.95rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1rem;
}
h6 {
    font-size: 0.75rem;
}
p {
    font-size: 1.25rem;
}
a {
    font-size: 1.25rem;
    text-decoration: underline;
    font-size: inherit;
}
button {
    font-size: 1.25rem;
    padding: 5pt;
    transition: 10ms ease-in-out;
    border: solid transparent;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}
button:active {
    transition: 10ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.25);
}
iframe {
    margin: 50px;
}
